

body {
    background-color: #FE7963;
}  


li{
    display: inline-block;
    position: relative;
    font-family: Silom;
    color: #EEEEEE;
    margin: 15px;
    padding: 0% 2%;

}
ul{
    display: inline-block;
    vertical-align: middle;
    white-space:nowrap;
    width: 50%;    
}
a {
    color: #EEEEEE;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.logo{
    max-width: 11%;
    margin-left: 10px;
    margin-top: 10px;
    vertical-align:bottom;
}
.profile{
    max-width: 8%;
    border: solid 3px;
    border-radius: 90px;
    border-color: #EEEEEE;
    position: absolute;
    right: 3em;
    top: 2em;
}


#tracker {
    padding-top: 5%;
  }

h3 {
    font-size: 40px;
    font-family: Silom;
    text-align: center;
    
}
th {
    font-family: Silom ;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;

}
table {
    position:relative;
    border: 1px solid;
    width: 45rem;
    margin: auto;
    table-layout: fixed;
    text-align: center;
    background-color: #FEF06A;
    border-spacing: 0px 18px;
}

thead th:nth-child(1) {
    width: 33%;
  }

h2{
    display: inline;
    color: #EEEEEE;
    font-size: 2.4em;
    font-family: Silom;
    vertical-align: middle;
}
p{
    font-family: Silom;
    color:#EEEEEE;
}
.spend section, .save section{
    float: left;
    width: 100%;

}
.container{
    display: flex;
    margin: 10% 20%;
    justify-content: left;
    column-gap: 18%;
}

.inputdollar {
    height: 52px;
    width: 180px;
    background-color: #EEEEEE;
}

#date {   
    height: 52px;
    width: 180px;
    text-align: center;
    background-color: #EEEEEE; 
    border: 2px solid #C2C2C2;   
    
}
input[type=number]{
    border: 2px solid #C2C2C2;
    font-family: Silom;
    text-align: center;
    color: #00D336;
    
}
input[type=date]{
    
    font-family: Silom;
    background-color: #EEEEEE;
    color: #00D336;
    border: none;
    display: block;
    margin: auto;
    padding-top: 18px;
}

.button{
    background-color:#FEF06A;    
    height: 52px;
    width: 180px;
    font-family: Silom;
    border-color: #FE7963;
    cursor: pointer;   
}

#alertSpend {
    text-decoration: underline;
    font-weight: bold;
}

#alertSav {
    text-decoration: underline;
    font-weight: bold;
    display: inline-block;
}

#logexpensebutton {
    margin-top: 58px;
}

.coinstack{
    max-width: 15%;
    height: auto;
    position:relative;
    left: 10px;
}

#coindrop{
    max-height: 58px;
    position: relative;
    display: block;
    left: 8rem;

}

#coindrop:hover {
    animation: gelatine 0.5s infinite;
}
@keyframes gelatine {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}
